.player-welcome-title{
    font-family: Jokerman, sans-serif;
}

.tv-form{
    border-radius: 20px;
    width: 300px;
    background-color: #ffffff;
    padding: 20px 10px;
    display: inline-block;
    justify-items: center;
    color: black;
}

.tv-form > form > label{
    display: block;
    text-align: center;
    justify-content: center;
    font-family: Jokerman, serif ;
}

.tv-form > form > input{
    justify-content: center;
    margin-bottom: 20px;
}

.tv-form > form > input[type=submit]{
    justify-content: center;

}